# Dépendances (on les réinstalle proprement dans le Dockerfile)
node_modules
npm-debug.log

# Build et logs
dist
build
.logs

# Environnement et Secrets (TRÈS IMPORTANT)
.env
.env.production
.git
.github

# Fichiers système et IDE
.vscode
.idea
.DS_Store
thumbs.db

# Documentation
README.md
CONTRIBUTING.md
